<table class="table table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Job</th>
				<th width="100">Description</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.id %></td>
					<td><%= user.name %></td>
					<td><%= user.job %></td>
					<td><%= user.description %></td>
				</tr>
			<% end %>
		</tbody>
	</table>